#gallery-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
#gallery-list li { padding: 7px 0; display:inline-table; vertical-align: middle; width:18%; margin: 0 1%; }
.thumbnails-wrapper{	
	width: 100%;
	float: left;
}

#gallery img{
	vertical-align: middle;
	width:100%;
}
#gallery img.selected {
	border:2px solid blue;
}
.selectme {display:block;}
.thumbnails-wrapper input {
  position:absolute;

}


#gallery-wrapper-header {
	position:fixed; z-index:2;
	top:0; left:0;
	width:100%;
	height:55px;
	/*line-height:45px;*/
	background: #403865;
	padding:0;
	color:#eee;
	/*font-size:20px;*/
	text-align:center;
}

#gallery-wrapper-header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

#gallery-wrapper {
	position:absolute; z-index:1;
	top:175px; bottom:0; left:0;
	width:100%;
	/*background:#aaa;*/
    background:#ffffff;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}


